<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>[[${welcome}]]</h1>
<form method="post">
    <label>Input sumCategorySimple</label>
    <input name="sumCategorySimple"><br>
    <label>Input sumCategoryPriority</label>
    <input name="sumCategoryPriority"><br>
    <label>Input sumCategorySuper</label>
    <input name="sumCategorySuper">
    <br>
    <button type="submit">Go</button>
</form>

<p data-th-if="${cashback}">Your cashback: [[${cashback}]]</p>
</body>
</html>